<div class="container">
  <img src="logo_gradient.png" alt="Logo" class="logo">
  <h1>adCAPTCHA testing page</h1>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" autocomplete="on">
    <label for="name">Name</label>
    <input 
      id="name" 
      name="name" 
      type="text" 
      [(ngModel)]="formData.name" 
      required 
      #name="ngModel"
      autocomplete="name">
    <div *ngIf="name.invalid && name.touched" class="error">
      Name is required.
    </div>

    <label for="email">Email</label>
    <input 
      id="email" 
      name="email" 
      type="email" 
      [(ngModel)]="formData.email" 
      required 
      #email="ngModel"
      autocomplete="email">
    <div *ngIf="email.invalid && email.touched" class="error">
      Valid email is required.
    </div>

    <label for="message">Message</label>
    <textarea 
      id="message" 
      name="message" 
      [(ngModel)]="formData.message" 
      required 
      #message="ngModel"
      autocomplete="message">
    </textarea>
    <div *ngIf="message.invalid && message.touched" class="error">
      Message is required.
    </div>

    <lib-adcaptcha 
      [placementID]="placementID" 
      (onComplete)="handleComplete()">
    </lib-adcaptcha>
   
    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>
</div>