<div class="container">
  <img src="logo_gradient.png" alt="Logo" class="logo">
  <h1>adCAPTCHA testing page</h1>
  <form #contactForm="ngForm"  novalidate>
    <label for="name">Name</label>
    <input 
      id="name" 
      name="name" 
      type="text" 
      [(ngModel)]="formData.name" 
      required 
      #name="ngModel">
    <div *ngIf="name.invalid && name.touched" class="error">
      Name is required.
    </div>
    <label for="email">Email</label>
    <input 
      id="email" 
      name="email" 
      type="email" 
      [(ngModel)]="formData.email" 
      required 
      #email="ngModel">
    <div *ngIf="email.invalid && email.touched" class="error">
      Valid email is required.
    </div>

    <label for="message">Message</label>
    <textarea 
      id="message" 
      name="message" 
      [(ngModel)]="formData.message" 
      required 
      #message="ngModel">
    </textarea>
    <!-- <div *ngIf="message.invalid && message.touched" class="error">
      Message is required.
    </div> -->
   

    <!-- app.component.html -->
    <lib-adcaptcha [placementID]="placementID" (onComplete)="handleComplete()"></lib-adcaptcha>
    <button type="submit" [disabled]="contactForm.invalid || !token">Submit</button>
  </form>
  <div *ngIf="token">Success Token: {{ token }}</div>
</div>